*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(34, 4, 48), #08084e);
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
    background: url('stars1.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}

ul:hover li a{
    opacity: 0;
}

ul li{
    list-style: none;
    margin: 14px 0;
}
ul li a{
    color: rgb(245, 250, 253);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    background: #a74207;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    width: 120px;
    transition: 0.5s;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}
ul li a:hover{
    transform: scale(1.5);
    background: rgb(67, 139, 0);
    opacity: 1;
}
ul li::after{
    content: attr(data-text);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    letter-spacing: 50px;
    pointer-events: none;
    transition: 0.5s;
}
ul li:hover::after{
    opacity: 0.5;
    letter-spacing: 5px ;
}

ul li::before{
    content: '';
    width: 80px;
    height: 80px;
    background: white;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-70%);
    border-radius: 50%;
    box-shadow: 0 0 80px orangered ;
    opacity: 0;
    transition: 0.5s;
}
ul li:hover::before{
    opacity: 0.5;
    width: 80px;
}